.visible {
  display: block;
}

.hidden {
  display: none;
}

.board {
  border-collapse: collapse;
}
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
  border: 1px solid #ddd;
}

.board-tile {
  height: 75px;
  width: 75px;
  text-align: center;
  font-size: 36px;
  padding: auto;
  border: 1px solid #000;
}

.winning-tile {
  background-color: #3BFF8A;
}
